<h2>User details</h2>
<form [formGroup]="userForm" (ngSubmit)="editUser()">

  <ngb-alert *ngIf="success" type="success" (close)="success = false">Success</ngb-alert>

  <div class="form-group">
    <label for="userId">Id</label>
    <input type="text" class="form-control"  formControlName="id" id="userId">
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" formControlName="email">
  </div>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" id="firstName" formControlName="firstName">
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control" id="lastName" formControlName="lastName">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" formControlName="password">
  </div>
  <div class="form-group">
    <label for="role">Role</label>
    <select class="form-control" id="role" formControlName="role">
      <option value="REGULAR">REGULAR</option>
      <option value="ADMIN">ADMIN</option>
    </select>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" formControlName="disabled"> Disabled
    </label>
  </div>
  <button type="submit" [disabled]="userForm.disabled" class="btn btn-default">Edit</button>

  <div *appIsAdmin>
    Hi
  </div>

</form>
