<div class="container container-table">
  <div class="row vertical-center-row">
    <div class="col-sm-offset-4">
      <h1 style="padding-left: 5%;">Registration</h1>

      <form #registrationForm="ngForm" class="form-horizontal" (ngSubmit)="signUp()" ngNativeValidate>

        <!-- First Name -->
        <div class="form-group required">
          <label for="firstName" class="col-sm-2 control-label">First Name</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="firstName"
                   required
                   [(ngModel)]="user.firstName" name="firstName" #firstName="ngModel">
          </div>
        </div>

        <!-- Last Name -->
        <div class="form-group required">
          <label for="lastName" class="col-sm-2 control-label">Last Name</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="lastName"
                   required
                   [(ngModel)]="user.lastName" name="lastName" #lastName="ngModel">
          </div>
        </div>

        <!-- Email -->
        <div class="form-group required">
          <label for="email" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-4">
            <input type="email" class="form-control" id="email"
                   required
                   [(ngModel)]="user.email" name="email" #email="ngModel">
          </div>
        </div>

        <!-- Password -->
        <div class="form-group required">
          <label for="password" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-4">
            <input type="password" class="form-control" id="password"
                   required
                   [(ngModel)]="user.password" name="password" #password="ngModel">
          </div>
        </div>

        <!-- Sing up -->
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn-warning" [disabled]="registrationForm.invalid">Sign up</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
