<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
      <p class="navbar-text navbar-left">
        <a routerLink="/"><b>PubPortal</b></a>
      </p>

      <div class="col-md-offset-1 col-sm-3 vcenter-navbar-btns">
        <a routerLink="/users" routerLinkActive="active" class="btn btn-info">Users</a>
        <a routerLink="/rubrics" routerLinkActive="active" class="btn btn-info">Rubrics</a>
        <a routerLink="/publications" routerLinkActive="active" class="btn btn-info">Publication list</a>
      </div>

      <p class="navbar-text navbar-right">
        <ng-container *ngIf="user$ | async as user; else login">
          Signed in as <a href="#" class="navbar-link">{{user.firstName}} {{user.lastName}}</a>
          (<a href="javascript:void(0)" (click)="logout()">Logout</a>)
        </ng-container>
        <ng-template #login>
          <a class="label label-default" routerLink="login">Login</a>
          <a class="label label-default" routerLink="register">Registration</a>
        </ng-template>
      </p>
    </div>
  </div>
</nav>
