<div class="container container-table">
  <div class="row vertical-center-row">
    <div class="col-sm-offset-4">
      <h1 style="padding-left: 5%;">Sign in</h1>

      <div class="row">
        <div class="col">
          <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = false" class="col-sm-6">
            Please register or fill correct email/password pair
          </ngb-alert>
        </div>
      </div>

      <form class="form-horizontal" (ngSubmit)="signIn()">
        <!-- Email -->
        <div class="form-group required">
          <label for="email" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="email"
                   required
                   [(ngModel)]="user.email" name="email" #username="ngModel">
          </div>
        </div>

        <!-- Password -->
        <div class="form-group required">
          <label for="password" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-4">
            <input type="password" class="form-control" id="password"
                   required
                   [(ngModel)]="user.password" name="password" #password="ngModel">
          </div>
        </div>

        <!-- Sing in -->
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn-success">Sign in</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
