<div class="container container-table">
  <div class="row vertical-center-row">
    <div class="col-sm-12">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Disabled</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>
              <a [routerLink]="['/users', user.id]" routerLinkActive="active">{{ user.firstName + ' ' + user.lastName }}</a>
            </td>
            <td>
              {{ user.role }}
            </td>
            <td>
              <input type="checkbox" [checked]="user.disabled === true" disabled>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
