/* You can add global styles to this file, and also import other style files */
@import url('http://getbootstrap.com/dist/css/bootstrap.css');
html, body, .container-table {
  height: 100%;
}
.container-table {
  display: table;
}
.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}
.vcenter-navbar-btns {
  display: inline-block;
  vertical-align: middle;
  padding-top: 0.8%;
  float: none;
}
