<div class="container container-table">
  <div class="row vertical-center-row">
    <div class="col-sm-offset-3">
      <h1 style="padding-top: 35%; color: darkred" class="">Welcome to Publication Portal!</h1>
    </div>
  </div>
</div>
